<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="evertonrmachado.gerenciadordeclientes"
    >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:backupAgent = "evertonrmachado.gclientes.backup.Backup"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myTheme" >

        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIznw7IF-LBr8K685k4XvxU39uDdxCJhpYli_oBg" />
        <activity
            android:name="evertonrmachado.gclientes.MainActivity"
            android:theme="@style/nLiveoDrawer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="evertonrmachado.gclientes.ClienteCadastroActivity"
            android:label="@string/cliente_cad"
            android:configChanges="orientation|screenSize">
        </activity>


        <activity
            android:name="evertonrmachado.gclientes.ClienteExibirActivityNew"
            android:label="@string/cliente_exibir"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >
        </activity>

    </application>

</manifest>
